.card {
  background-color: var(--card-bg-color);
  font-size: 16px;
  color: var(--card-text-color);

  left: 0;
  transition: transform 300ms ease-in-out;
  border: 2px solid var(--white);
  height: 285px;
}

.info-img {
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center top;
  margin-bottom: 5px;
}

.info-date {
  color: var(--card-accent-color);
  font-weight: 600;
  margin-bottom: 2px;
}

.info-note {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-clamp: 2;
  text-overflow: ellipsis;
  line-height: 1.2;
  color: var(--card-text-color) !important;
}

.info-note.expanded {
  -webkit-line-clamp: unset;
  line-clamp: unset;
}

.info-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-name {
  color: var(--card-text-color);
  font-weight: 700;
}

.read-more {
  color: var(--card-accent-color);
  transition: all 0.3s ease;
}

.read-more:hover {
  text-decoration: underline;
}
