/* @import "tailwindcss";
.modal .modal-img {

  border-radius: 10px;
  background-size: cover;
  background-position: top center;
}



.modal-date {
  color: var(--bright-red);
  font-weight: 600;
  text-transform: uppercase;
}

.modal-note {
  color: #3c3939;
  line-height: 1.2;
}

.modal-name {
  font-weight: 600;
  text-transform: uppercase;
}

.close-btn {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  position: absolute;
  right: 30px;
  top: 30px;
  background-color: transparent;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
} */
