.nav-link {
  padding: 7px 25px;
  width: 85%;
  margin-inline: auto;
  border-radius: 12px;

  cursor: pointer;
  font-size: 18px;
  border: 2px solid var(--nav-links-border-color);
}

.nav-logo {
  height: 20px;
  width: 20px;
}

.nav-logo-container {
  background: transparent;
  padding: 7px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  display: flex;
  align-items: center;
  gap: 13px;
}

.chevron-down-arr {
  width: 16px;
}

.nav-link-1 {
  z-index: 10;
}

.nav-link-1 {
  z-index: 1000;
}

.nav-link {
  transition: background-color 0.3s ease;
}

.nav-link:focus,
.nav-link:focus-visible,
.nav-link:hover {
  background-color: var(--nav-links-bg-color);
}

.sidebar-title {
  color: var(--nav-links-color);
}

.nav-link:focus .sidebar-title,
.nav-link:focus-visible .sidebar-title,
.nav-link:hover .sidebar-title {
  color: var(--nav-links-color-hover);
}

.nav-link:focus .nav-logo-container,
.nav-link:focus-visible .nav-logo-container,
.nav-link:hover .nav-logo-container {
  background: var(--nav-logo-bg);
}

.nav-link:focus .chevron-down-arr svg,
.nav-link:focus-visible .chevron-down-arr svg,
.nav-link:hover .chevron-down-arr svg {
  fill: var(--arrow-icon-color);
  stroke: var(--arrow-icon-color);
}

.nav-link-5.active {
  background-color: var(--nav-links-bg-color);
}

.nav-link-5.active .sidebar-title {
  color: var(--nav-links-color-hover);
}

.nav-link-5.active .nav-logo-container {
  background: var(--nav-logo-bg);
}

.nav-link-2.drop-down {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-60px);
}
.nav-link-3.drop-down {
  opacity: 0;
  pointer-events: none;

  transform: translateY(-118px);
}
.nav-link-4.drop-down {
  opacity: 0;
  pointer-events: none;

  transform: translateY(-176px);
}

.nav-link-2,
.nav-link-3,
.nav-link-4 {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
  transition: all 0.3s ease;
}

.nav-link-5.drop-down,
.nav-link-6.drop-down,
.nav-link-7.drop-down,
.nav-link-8.drop-down,
.nav-link-9.drop-down {
  transform: translateY(-192px);
}
.nav-link-5,
.nav-link-6,
.nav-link-7,
.nav-link-8,
.nav-link-9 {
  transform: translateY(0);
  transition: all 0.3s ease;
}

.chevron-down-arr svg {
  transform: rotate(180deg);
  transition: all 0.3s ease;
}

.chevron-down-arr.drop-down svg {
  transform: rotate(0);
}
