.quick-link {
  background-blend-mode: multiply;
  background-position: center center;
  background-size: 120%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.quick-link:focus,
.quick-link:focus-visible,
.quick-link:hover {
  background-color: #060505d4;
  background-size: 100%;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top svg {
  width: 16px;
}

.icon {
  /* width: 35px;
  height: 35px; */
  border-radius: 50%;
  background-color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.icon img {
  width: 20px;
  height: 20px;
}

.icon-arrow svg {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease;
}

.quick-link:focus .icon-arrow svg,
.quick-link:focus-within .icon-arrow svg,
.quick-link:hover .icon-arrow svg {
  fill: red;
  width: 28px;
  height: 28px;
  /* stroke: red; */
}

.title {
  color: var(--white);
}
