.right-sidebar {
  overflow-x: hidden;
  background-color: var(--page-bg-color);
}

.article-title {
  font-weight: 600;
  text-align: center;
  width: 90%;
  line-height: 1.2;
  color: var(--article-title-color);
}

.posts,
.birthdays {
  height: 43%;
}

.birthdays .card,
.posts .card {
  width: 100%;
}

.read-more {
  cursor: pointer;
}

.posts .slick-arrow,
.birthdays .slick-arrow {
  display: none !important;
}

.right-sidebar .slick-dots li button:before {
  color: #fff;
  opacity: 0.8;
}

.right-sidebar .slick-dots li.slick-active button:before {
  color: #fff;
  opacity: 1;
}

.right-sidebar .slick-slider.slick-initialized {
  margin-left: -7px;
}

.right-sidebar .slick-dots li button:before {
  color: var(--carousel-dots-color);
  opacity: 0.4;
}

.right-sidebar .slick-dots li.slick-active button:before {
  color: var(--carousel-dots-color);
  opacity: 1;
}

@media screen and (min-width: 1200px) {
  .right-sidebar {
    height: calc(100% - 40px);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1300px) {
  .right-sidebar {
    margin-top: 40px;
  }
}
