.carousel-dots {
  display: flex;
  align-items: center;
  gap: 10px;
  /* transform: translateX(33%); */
  /* margin: 20px 0 20px; */
  /* color: var(--light-gray);*/
}

.carousel-dot {
  width: 10px;
  height: 10px;
  background-color: #ffffff96;
  border-radius: 50%;
  cursor: pointer;
  transform: scale(0.9);
  transition:
    scale 300ms ease-in-out,
    background-color 300ms ease-in-out;
}

.carousel-dot.active {
  background-color: #fff;
  transform: scale(1.1);
}

.carousel-dot:focus-visible {
  border: 2px solid #880909;
}

:focus-visible {
  outline: none;
}
