@import "tailwindcss";

.quick-links-container {
  /* grid-column: 2/3; */
  /* overflow-y: hidden; */
  position: relative;
  /* width: 857px; */
}

.link-icons {
  width: 20px;
}

.quick-links-title p {
  font-family: "Syne", sans-serif;
  color: var(--quicklinks-color);
}

.quick-links-content {
  overflow-y: hidden;
  /* height: 258px; */
  overflow-x: hidden;
}

/* Slick slider custom  styles */
.slick-dots li.slick-active button:before {
  font-size: 13px !important;
  color: var(--carousel-dots-color);
  opacity: 1;
}

.slick-dots li button:before {
  font-size: 10px !important;
  color: var(--carousel-dots-color);
}

.slick-dots {
  bottom: -37px !important;
}

.slick-dots li {
  margin: 0 !important;
}

/* .quick-links-container .slick-dots li button:before {
  color: #0a0a0a;
  opacity: 0.8;
}

.quick-links .slick-dots li.slick-active button:before {
  color: #0a0a0a;
  opacity: 1;
} */

.quick-links-container .slick-track {
  display: flex;
  align-items: center;
  /* gap: 10px; */
}

@media screen and (max-width: 650px) {
  .quick-links-container .slick-arrow {
    display: none !important;
  }
}

/* .quick-links .slick-arrow,
.quick-links .slick-arrow {
  background-color: red;
  color: red;
  fill: red;
  display: block;
} */

.quick-links-container .slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 30px;
  line-height: 1;
  opacity: 0.8;
  color: var(--main-red);
  padding: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.quick-links-container .slick-next {
  right: -11px;
}

.quick-links-container .slick-prev {
  left: -26px;
}

.quick-links-container .slick-slider.slick-initialized {
  margin-left: -18px;
}

/* .slick-slider.slick-initialized {
  margin-left: -9px;
} */

@media screen and (max-width: 1024px) {
  .quick-links-container .slick-list {
    margin-left: 8px;
  }
  .quick-links-container .slick-track {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.quick-links-container .slick-track .slick-slide > div:first-of-type {
  margin-bottom: 16px;
}

@media screen and (max-width: 599px) {
  .quick-links-container .slick-track .slick-slide > div:first-of-type {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .quick-links-container .slick-dots {
    bottom: -35px !important;
  }
  .quick-links-container .slick-dots li button::before {
    color: var(--carousel-dots-color);
  }

  /* .quick-links-container
    .slick-track
    .slick-slide.slick-active:first-of-type >
    div:first-of-type {
    margin-bottom: 15px;
  } */
}

@media screen and (min-width: 1024px) and (max-width: 1100px) {
  .quick-links-container {
    width: 623px;
  }
}

@media screen and (min-width: 1301px) and (max-width: 1375px) {
  .quick-links-container {
    width: 100%;
  }
}
